<article class="recipe">
  <button type="button" class="recipe-x-button">X></button>
  <div class="recipe-text">
    <p class="recipe-name">
      {{name}}
    </p>
    <p class="recipe-time">
      {{time}}
    </p>
  </div>
  <div class="recipe-img">
<<<<<<< HEAD
    <img src = {{photoURL}}>
=======
    <img src = {{photURL}}>
>>>>>>> fbbdce4f90360dcb7fe021a2707382f953a42f82
  </div>
</article>
