

body, html {
  height: 100%;
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  height:100%;
  background-image: url("ingredientBackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  font-size: 40px;
  text-align: center;
  background-color: #006600;
  color: #fff;
}

.navbar {
  background-color: #006600;
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.navlist {
  padding: 0;
  margin: 0;
}

.navitem {
  display:inline-block;
  margin: 0 20px 0 0;
}

.ingredient-x-button {
  color: #fff;
  background: none;
  border: none;
}

.navbar-search {
  float: right;
}

#navbar-search-button {
  border: none;
  background: none;
}


/* main */

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  display: flex;
  border: 1px solid #fff;
}

.recipe-img img {
  border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
}
