/*TODO: make the page actually look good and fit with the website theme
In particular: have a unified color scheme and fonts
*/ 

#mainpage-body{
}

.site-title{
  font-size: 100px;
  text-align: center;
}

#main-search{
  text-align: center;
}

.search-input{
  width: 700px;
}
#mainpage-content{
  width: 800px;
  margin: 0 auto;
  background-color: lime;
}

#ingredients-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px;
}

.mainpage-ingredient{
  margin: 10px;
  border-radius: 5px;
  background-color: grey;
}

.ingredient-name{
  font-size: 20px;
  margin: 5px;
}

.remove-ingredient-button{
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
}

#num-ingredients-display{
  width: 100px;
  height: 100px;
  display: inline;
  background-color: orange;
}

#generate-recipes-button{
  background-color: orange;
  width: 780px;
  margin: 10px;
  height: 100px;
}

.recipe-box {
  display: flex;
  padding: 5px 20px;
  align-items: center;
  flex-direction: column;
  background-color: #ffbdbd;
  margin: 20px;
  border: 3px solid #202020;
  border-radius: 10px;
}

.recipe-title {
  font-size: 40px;
  margin: 4px;
}

.recipe-ingredients-content {
  align-self: stretch;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.prep-time {
  font-size: 25px;
}

.specific-recipe-attribution {
  align-self: flex-start;
}
